<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>RecoMovie</title>
  </head>
  <body>
    <center>
        <h1>RecoMovie - A Movie Recommendation System</h1>
        <form action = "http://localhost:5000/genre" method = "POST">
            <p>Genre <input type = "text" name = "Genre" /></p>
            <p><input type = "submit" value = "submit" /></p>
         </form>
        <!-- <table>
            <tr>
                <td><a href="genre.html"><button>Upload</button></a></td>
                 <td><a href="download"><button>Restore</button></a></td>
            </tr>
        </table> -->
    </center>
  </body>
</html>